html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-image: url("../img/background/backgroundDesctop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 639.98px) {
  body {
    background-image: url("../img/background/backgroundPhone.png");
  }
}

main {
  flex: 1 1 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body * {
  color: #FFFFFF;
}

a {
  transition: opacity 0.3s ease;
}
a:hover {
  color: white;
  opacity: 0.7;
}

/*Arrow*/
.arrow-right, .arrow-right, .arrow-left, .arrow-left2 {
  position: absolute;
}

.arrow-left {
  top: 0;
  left: 0;
  bottom: 0;
}
@media (max-width: 1599.98px) {
  .arrow-left {
    left: -5.7%;
  }
}
@media (max-width: 1049.98px) {
  .arrow-left {
    width: 310px;
  }
}
@media (max-width: 639.98px) {
  .arrow-left {
    display: none;
  }
}

.arrow-left img {
  height: 100%;
}

.arrow-right {
  bottom: 0;
  top: 0;
  right: 0;
}
@media (max-width: 1599.98px) {
  .arrow-right {
    right: -5.7%;
  }
}
@media (max-width: 1049.98px) {
  .arrow-right {
    width: 310px;
  }
}
@media (max-width: 639.98px) {
  .arrow-right {
    display: none;
  }
}

.arrow-right img {
  height: 100%;
}

/*Head*/
.head {
  padding-top: 56px;
}
@media (max-width: 1599.98px) {
  .head {
    padding-top: 63px;
  }
}
@media (max-width: 639.98px) {
  .head {
    padding-top: 31px;
  }
}

.head h3 {
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
}
@media (max-width: 959.98px) {
  .head h3 {
    max-width: 80%;
  }
}
@media (max-width: 639.98px) {
  .head h3 {
    max-width: 90%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
  }
}

/*Main*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 164px;
  padding-bottom: 138px;
}
@media (max-width: 1599.98px) {
  .main {
    padding-top: 48px;
    padding-bottom: 50px;
  }
}
@media (max-width: 639.98px) {
  .main {
    padding-top: 70px;
    padding-bottom: 85px;
  }
}

.logo {
  margin-bottom: 63px;
}
@media (max-width: 639.98px) {
  .logo {
    margin-bottom: 35px;
  }
}

.main h2 {
  margin: 0;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
}
@media (max-width: 1599.98px) {
  .main h2 {
    margin-bottom: 5px;
  }
}
@media (max-width: 639.98px) {
  .main h2 {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
  }
}

.main h1 {
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 900;
  line-height: 59px;
}
@media (max-width: 639.98px) {
  .main h1 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 900;
    line-height: 34px;
  }
}

/*Footer*/
.footer {
  padding-bottom: 56px;
}
@media (max-width: 1599.98px) {
  .footer {
    padding-bottom: 68px;
  }
}
@media (max-width: 639.98px) {
  .footer {
    padding-bottom: 23px;
  }
}

.footer-header {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
@media (max-width: 639.98px) {
  .footer-header {
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
  }
}

.footer .mail {
  position: relative;
  z-index: 2;
  margin-right: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
@media (max-width: 639.98px) {
  .footer .mail {
    margin-right: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}

.footer .phone {
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 639.98px) {
  .footer .phone {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
}

.contacts {
  display: flex;
  justify-content: center;
}

/*Media*/
@media (max-width: 639.98px) {
  .logo {
    width: 126.96;
    height: 160px;
  }

  .main .social-link svg, .main .social-link img {
    width: 24px;
    height: 24px;
  }
}