body{
  background-image: url("https://i1.wallbox.ru/wallpapers/main/201550/f1ffe993f695a66.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  padding: 0;
  font-family: 'Texturina', serif;
  background-color:rgb(244,255,255);
  color: black;
}
header{
  padding:10px 0 10px;
  display: flex;
  width: 1408px;
  margin: 0 auto;
  justify-content: space-between;
}
header a{
  text-decoration: none;
  color: black;
}
.footer1{
  display: flex;
  justify-content: space-between;
  width: 1408px;
  margin: 0 auto;
}
.footer1 div{
  display: inline;
}
.footer a{
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
footer{
  margin-top: 10px;
  padding:10px 0 10px;
  background-color: white;
}
.container{
  max-width: 928px;
  margin: 0 auto;
}
.opisanie{
  margin-top: 70px;
  display:flex;
  justify-content:center;
}
.opisanie h1{
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 96px;
}
.bio{
  margin-top: 300px;
}
.bio h2{
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}
.bio img{
  width: 928px;
  height: 570px;
  border-radius: 5px;
  border-style:groove;
}
.user{
}
.bio h3{
  padding: 10px;
  padding-top: 0px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 10px;
  display:inline-block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  border: 2px solid orange;
  border-radius: 10px;
  border-style: dashed;
}
ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
li{
  padding-left:25px;
  background-image:url("https://thehashtagsshowtime.files.wordpress.com/2017/05/cropped-chrome_icon___rarity_by_doctorrarity-d6e57ht.png?w=200");
  background-position:0% 70%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-size: 20px;
}
.skillh{
  font-size: 30px;
  padding-left: 35px;
  background-image: url("icon-html.svg");
  background-position:0% 70%;
  background-repeat: no-repeat;
}
dl{
  margin: 0;
  padding: 0;
}
dd{
  margin: 0;
  margin-top: 6px;
  padding: 0;
  height: 14px;
  border: 1px solid #712073;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
dd div{
  margin-left: 1px;
  background-color: rgb(233,109,49);
  height: 13px;
  border-radius: 8px;
}
.c div{
  background-color: rgb(19,161,209)
}
.skillc{
  font-size: 30px;
  padding-left: 35px;
  background-image: url("icon-css.svg");
  background-position:0% 70%;
  background-repeat: no-repeat;
}
.rabota{
  margin-top: 300px;
  border: 5px solid #EFEDE6;
  padding: 8px;
  border-radius: 5px;
}
.rabota h2{
  margin-top: 0;
  padding-top: 0;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}
.rabota h3{
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}
a img{
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
