body,html{
  margin: 0;
  padding: 0;
  background-color: #EFE6E4;
  cursor: url('1.png'),auto !important;
  scroll-behavior: smooth;
}
.dis{
  display: none;
}
::-webkit-scrollbar{
  max-width: 12px;
  background-color: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb  {
  background-color: lightgrey;
  border-radius: 15px;
}

header{
  margin: 0 auto;
  min-height: 715px;
  padding-top: 36px;
  position:relative;
  z-index: 1;
}
.otpravka input:not(:nth-child(3)):hover{
  cursor: url('text.png'),auto !important;
}
header img{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;
}
.container{
  max-width: 1036px;
  margin: 0 auto;

}
.menu{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
ul{
  padding: 0;
  list-style: none;
  margin: 0;
}
figure{
  margin: 0;
  padding: 0;
}
.menu ul{
  flex-wrap: wrap;
  width: 840px;
  margin-left: auto;
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a{
  display: block;
  text-decoration: none;
  color:#533738;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}
.menu ul a::before{
  position: absolute;
  content:"";
  width: 50%;
  height: 3px;
  background-color: rgba(255,255,255,0.5);
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
}
.menu ul a::after{
  position: absolute;
  content:"";
  width: 50%;
  height: 3px;
  background-color: rgba(255,255,255,0.5);
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
}
.menu ul a:hover{
  color:rgb(255,255,255);
}
.menu ul a:hover::before,.menu a:hover::after{
  opacity: 1;
  transform: translate(0);
  transition: 0.4s all;
}
.menu ul a:focus::before,.menu ul a:focus::after{
  opacity: 1;
  transform: translate(0);
}
.menu>a:nth-child(1){
  padding-left: 25px;
  position: relative;
}
.menu>a:nth-of-type(1)::before{
  position: absolute;
  content:"";
  height: 25px;
  width: 25px;
  background-image: url("gh.png");
  background-repeat: no-repeat;
  left: 0;
  top:-2.5px;
}
.opisanie{
  margin-top: 91px;
}
.opisanie h2{
  margin-top: 0;
  color:#533738;
  max-width: 534px;
  min-height: 186px;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;

}
.opisanie p{
  margin: 0;
  padding: 0;
  margin-top: 24px;
  max-width: 493px;
  min-height: 90px;
  color:#533738;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
.opisanie a{
  display: inline-block;
  text-decoration: none;
  margin-top: 21px;
  padding: 25px 65px;
  padding-left: 68px;
  border: none;
  background-color: #CC8B86;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color:#533738;
}
.o_nas{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 65px;
  text-align: center;
}
.o_nas h3{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color:#533738;
}
.o_nas_text{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 989px) {
  .o_nas_text{
    flex-direction: column;
    align-items:  center;
  }
}
.o_nas_text p{
  margin: 0;
  max-width: 528px;
  min-height: 330px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#533738;
}
.o_nas_text img{
  display: block;
}
.stadge{
  background-color: #8d7370;
  min-height: 273px;
  margin-top: 21px;
}
.stadge_parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 273px;
  flex-wrap: wrap;
}
@media (max-width:520px) {
  .stadge_parent{
    justify-content: center;
    column-gap: 20px;
  }
}
.stadge_parent h3{
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  color:#FFFFFF;
}
.stadge_parent p{
  margin: 0;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  color:#FFFFFF;
  margin-bottom: 8px;
}
.rabot6i{
  max-width: 1200px;
  border: 1px solid red;
  min-height: 1099px;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rabot6i h3{
  margin: 0;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color:#533738;
}
.rabot6i_primer{
  display: grid;
  grid-template-columns:  488px repeat(auto-fit,692px);
  justify-content: center;
  column-gap: 20px;
  row-gap:30px;
}
.rabot6i_primer div{
  height: 451px;
}
.rabot6i_primer div{
  border: 1px solid red;
}
.rabot6i_primer div:nth-of-type(2){

}
/*.rabot6i_primer div:nth-of-type(1){
  background-image: url("image 55.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.rabot6i_primer div{
  border: 1px solid red;
}
.rabot6i_primer div:nth-of-type(1)::before{
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(100, 72, 69, 0.8);
  transform: translateX(100%);
  transition: transform 0.4s;
}
.rabot6i_primer div:nth-of-type(1):hover::before,.rabot6i_primer div:nth-of-type(1):hover h3,.rabot6i_primer div:nth-of-type(1):hover p{
  transform: translateX(0);
  transition: transform 0.2s;
}
.rabot6i_primer div:nth-of-type(1) h3{
  transition: transform 0.4s;
  margin: 0 auto;
  margin-top: 86px;
  width: 270px;
  height: 111px;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  color:#FFFFFF;
  text-align: center;
  transform: translateX(140%);
}
.rabot6i_primer div:nth-of-type(1) p{
  transition: transform 0.4s;
  width: 418px;
  height: 150px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color:#FFFFFF;
  margin: 0 auto;
  margin-top: -20px;
  transform: translateX(120%);
}
.rabot6i_primer div:nth-of-type(2){
  border: 1px solid red;
  background-image: url("Rectangle 134.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.rabot6i_primer div:nth-of-type(3){

  background-image: url("Rectangle 132.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.rabot6i_primer div:nth-of-type(4){
  background-image: url("image 56.png");
  background-repeat: no-repeat;
  background-size: cover;
}*/
.rabot6i button{
  position: relative;
  padding: 0;
  width: 294px;
  display: block;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  background-color:#EFE6E4;
  text-align: left;
  color:#533738;
  border: none;
  cursor: pointer;
}
@keyframes swing {
  15% {
    transform: translateX(9px);
  }
  30% {
    transform: translateX(-9px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  65% {
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing1 {
  15% {
    transform: translateX(9px) rotate(-45deg);
  }
  30% {
    transform: translateX(-9px) rotate(-45deg);
  }
  40% {
    transform: translateX(6px) rotate(-45deg);
  }
  50% {
    transform: translateX(-6px) rotate(-45deg);
  }
  65% {
    transform: translateX(3px) rotate(-45deg);
  }
  100% {
    transform: translateX(0) rotate(-45deg);
  }
}
.rabot6i button:hover::before{
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}
.rabot6i button:hover::after{
  animation: swing1 0.6s ease;
  animation-iteration-count: 1;
}
.rabot6i button::before{
  right: 3px;
  top: 35%;
  position:absolute;
  content: "";
  width: 61px;
  height: 16px;
  background-image: url("arrow.svg");
}
/*.rabot6i button::after{
  border-radius: 2px;
  right: 3px;
  top: 36.62%;
  position:absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #533738;
  border-bottom: 2px solid #533738;
  transform: rotate(-45deg);
}*/
.team{
  max-width: 1400px;
  margin: 0 auto;
  background-color:#E2C4BA;
  margin-top: 65px;
  min-height: 998px;
  padding-top: 50px;
  text-align:center;
}
.team h3{
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
}
.team_person div{

}
.team_person img{
  display: block;
}

.team_person{
  display: grid;
  grid-template-columns: repeat(auto-fit,320px);
  column-gap:38px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#533738;
  justify-content: center;
}
.team_person figure{
  position: relative;
}

.team_person div:nth-of-type(1) figure::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("image 61.png");
  display: none;
  transition: 0.4s all;
}

.team_person div:nth-of-type(2) figure::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("image 59.png");
  display: none;
  transition: 0.4s all;
}
.team_person div:nth-of-type(3) figure::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("image 58.png");
  display: none;
  transition: 0.4s all;
}
.team_person div figure:hover::before{
  display: block;
  transform: scale(1.13);
}
.about_rabota{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
}
.about_rabota h3{
  margin: 0;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color:#533738;
}
.spisok_rabot{
  max-width: 1200px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,285px);
  justify-content: center;
  column-gap:20px;
}
.number{
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color:#8d7370;
  display: flex;
  align-items:center;
  justify-content: center;

}
.number:hover{
  background: #FFFFFF;
}
.number:hover span{
  color:#8d7370;
}
.number span{
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color:#FFFFFF;
}
.spisok_rabot p{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color:#533738;
  margin-top: 20px;
}
.rewiev{
  text-align: center;
  margin-top: 65px;
  position: relative;
}
.next{
  cursor: pointer;
  border:none;
  border-radius: 50%;
  top:50%;
  left:0;
  position: absolute;
  width:72px;
  height: 72px;
  background-color:#CC8B86;
}
.back{
  cursor: pointer;
  border:none;
  border-radius: 50%;
  top:50%;
  right:0;
  position: absolute;
  width:72px;
  height: 72px;
  background-color:#CC8B86;
}
.next::before{
  position: absolute;
  top:40%;
  left:21px;
  content:"";
  width:33px;
  height:16px;
  background-image: url("next.svg");
}
.back::before{
  position: absolute;
  top:40%;
  right:18px;
  content:"";
  width:33px;
  height:16px;
  background-image: url("back.svg");
  transform: rotate(180deg);
}
.next,.back,.next::before,.next::after,.back::before,.back::after{
  opacity: 0.8;
}
.next:hover,.back:hover,.next:hover::before,.next:hover::after,.back:hover::before,.back:hover::after{
  opacity: 1;
}
.next:focus,.back:focus{
  opacity: 1;
  outline: none;
}
.next:active,.back:active{
  box-shadow: 0 0 3px 3px grey;
  outline: none;
}
@media (max-width: 992px){
  .next{
    top:0;
  }
  .back{
    top:0;
  }
}
.rewiev h3{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color:#533738;
}
.otz6Iv{
  margin: 0 auto;
  margin-top: 40px;
  max-width: 834px;
  display: grid;
  grid-template-columns:repeat(auto-fit,407px);
  grid-template-rows:repeat(auto-fit,272px);
  column-gap: 20px;
  row-gap:24px;
  justify-content: center;
}
.otz6Iv_text{
  padding-top: 90px;
  grid-row:span 2;
  text-align: left;
}
.otz6Iv_text p{
  margin: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color:#533738;
}
.otz6Iv_text h4{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin:0;
  margin-top:19px;
  color:#533738;
}
.otz6Iv img{
display: block;
}
.zayavka{

  padding-right: 101px;
  max-width: 1400px;
  box-sizing:border-box;
  margin: 0 auto;
  margin-top: 65px;
  background-color:#8D7370;
  min-height: 624px;
  display: flex;
  flex-wrap: wrap-reverse;
}
.forma_otpravki{
  margin-left: auto;
  width: 508px;
  margin-right: 20px;
  margin-top: 50px;
}
.forma_otpravki h3{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color:#FFFFFF;
}
.forma_otpravki p{
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFFFFF;
  opacity: 0.6;
}
.zayavka img{
  display: block;
}
.otpravka input:not(:nth-child(3)){
  background: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  color:#F6EDE9;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
.otpravka input:nth-of-type(1){
  margin-top: 44px;
}
.otpravka input:nth-of-type(2){
  margin-top: 35px;
  margin-bottom: 31px;
}
.otpravka input:nth-of-type(3){
  display: block;
  background-color:#CC8B86;
  width:309px;
  border: none;
  height: 74px;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color:#533738;
}
input:active{
  outline: none;
}
input:focus{
  outline: none;
}
.otpravka input:not(:nth-child(3))::placeholder{
  color:#F6EDE9
}
.otpravka input:not(:nth-child(3)):focus::placeholder{
  color: transparent;
}
.otpravka input:not(:nth-child(3)):focus{
  outline: none;
}
footer{
  display: flex;
  max-width: 1200px;
  padding: 37px 100px;
  margin: 0 auto;
}
footer p{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin: 0;
  color:#533738;
}
footer p:nth-of-type(2){
  margin-left: auto;
}
footer p:nth-of-type(1){
  margin-left:42px;
}
footer a{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color:#533738;
  display: block;
  text-decoration: none;
}
