*{
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
.container{
  margin: 0 auto;
  max-width: 100%;
  padding-top: 18px;
  padding-right: 45px;
  padding-left: 78px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("img/4.png");
}

.wrap{
  max-width:1251px;
  min-height: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
